<mat-toolbar  
class="navbar" 
color="primary"
[ngClass]="{ 'navbar-open': menuOpen}"
(window:resize)="onResize($event)"
>
    <div class="wrapper">
        <div class="container toolbar">
            <a routerLink="{{homeRoute}}">HH</a>
            <div class="buttons">
              <div class="links">
                <a mat-button routerLink="{{link.value}}" *ngFor="let link of links">{{link.label}}</a>
            </div>
              <button 
              class="toggleMenuButton"
              (click)="onToggleMenu()"
              mat-icon-button aria-label="Open menu">
                  <mat-icon>{{menuOpen ? "close" : "menu"}}</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div 
    class="dropdown-menu" *ngIf="menuOpen">
        <div class="container grid">
                <a mat-button routerLink="{{link.value}}"  *ngFor="let link of links" (click)="onToggleMenu()" >{{link.label}}</a>
            
        </div>
    </div>

</mat-toolbar>



   