::ng-deep *
    margin: 0
    padding: 0

body
    box-sizing: border-box

a
    text-decoration: none
    color: inherit

mat-form-field
    display: grid
    width: 100%
    margin-bottom: 20px

.wrapper
    display: flex
    justify-content: center
    width: 100%


.container
    width: 100%
    max-width: 800px

.grid
    display: grid

.place-items-center
    place-items: center

main
    display: grid
    place-items: center
    padding: 40px 20px

